/* Starting page styling */

#starting-page{
  background-color: #FFFFFF;
  color: #F55959;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
}

#starting-text{
  text-align: center;
  margin-top: 200px;
}

.red-btn{
  background-color:#F55959;
  color: #FFFFFF;
  border-radius: 10px;
  transition: .2s;
}
.red-btn:hover{
  background-color: #FFFFFF;
  color: #F55959;
  border: .5px solid #F55959;
}

/* Quiz Styling */

body{
  background-color: #F55959;
  color: #FFFFFF;
}

option[value = "empty"]{
  display: none;
}

#submit, .step{
  background-color: #F55959;
  color: #FFFFFF;
  border: 0.5px solid #FFFFFF;
  transition: .2s;
}

#submit:hover, .step:hover{
  background-color: #FFFFFF;
  color: #F55959;
}

#submit{
  width: 100%;
}

.step{
  width: 50%;
  margin: auto;
}

#next{
  float: right;
}

#back{
  float: left;
}
#results-page{
  background-color: #FFFFFF;
  color: #F55959;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  display: none;
}

#results-text{
  text-align: center;
  margin-top: 200px;
}

.display{
  margin-top: 200px;
  text-emphasis: center;
}